<div id="filterrific_results" >
  <div class="col card bg-inverse-light">
    <div class="card-body d-flex justify-content-between p-3">
      <p><%= page_entries_info candidates  %></p>
      <%= link_to 'Reset filters', reset_filterrific_url, class: "btn btn-outline-light" %>
    </div>
  </div>

  <div class="row mb-4">
    <% candidates.each do |user| %>
      <div class="col-xs-12 col-sm-6 col-lg-4  my-3" id="filterrific_results">
        <%= render partial:"shared/user_card" , locals: {user: user } %>
      </div>
    <% end %>
  </div>
</div>
