<h2>已經送出邀請</h2>

<% invitations.each do |invitation| %>
  <div class="col-md-3">
    <%= link_to invitation.invitee do %>
      <%= image_tag invitation.invitee.avatar_url, class: "img-responsive center-block small" if invitation.invitee.avatar_url %>
      <%= invitation.invitee.name %>
    <% end %>
  <div class="btn btn-primary disabled">送出邀請中</div>
  <%= button_to '取消邀請', cancel_invitation_path(invitation), class: 'btn btn-danger' %>
  </div>
<%end%>

