<h2>已經送出邀請</h2>
  <% inviting_users.each do |user| %>
  <div class="col-md-3">
    <%= link_to user do %>
      <%= image_tag user.avatar_url, class: "img-responsive center-block small" if user.avatar_url %>
      <%= user.name %>
    <% end %>
    <div class="btn btn-primary disabled">送出邀請中</div>
  </div>
<% end %>
