<div class="row mb-3">
  <div class="col-12">
    <h3>副本成員</h3>
  </div>
  <div class="col-12">
    <ul>
      <% members.each do |member| %>
        <li>
          <%= member.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
