<h3>副本成員</h3>
<div class="row mt-3">
  <% members.each do |member| %>
    <div class="col-4 col-xl-3 mb-3">
      <%= render partial:"shared/user_head" , locals: {user: member} %>
    </div>
  <% end %>
</div>

