<div class="row mb-4">
  <div class="col-12">
    <h4>副本訊息</h4>
  </div>
  <div class="col">
    <ul>
      <% @instance_msgs.each do |msg| %>
        <li><%= msg.user.name %> 說： <%=simple_format msg.content %></li>
      <% end %>
    </ul>
  </div>
</div>