<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>任務檔案室</h3>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <%= render partial:"shared/instance_list" , locals: {instances: @instances_history} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('#instance_list').DataTable({
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
      "order": [[ 1, "desc" ]],
      "columnDefs": [{ "orderable": false, "targets": [3,5] }]
    });
} );
</script>
