<%- if controller_name != 'sessions' %>
  <p class="pt-3 text-center">已經有帳號了?</p>
  <%= link_to "登入帳號", new_session_path(resource_name), class: "btn btn-block btn-secondary" %><br>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
 <p class="pt-3 text-center">還沒有帳號嗎?</p>
 <%= link_to "現在註冊", new_registration_path(resource_name), class: "btn btn-block btn-secondary" %><br>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
   <p class="pt-3 text-center"><%= link_to "沒收到驗證信?", new_confirmation_path(resource_name), class: "text-muted" %><p>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
