<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>瀏覽隊友</h3>
      </div>
      <div class= row>
        <%= render 'user_nav' %>
      </div>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 my-3">
            <%= render partial:"shared/user_card" , locals: {user: user} %>
          </div>
        <%end%>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</section>
