<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 py-3 px-4">
      <%= render 'layouts/notice' %>
      <div class="container">
        <h1>瀏覽隊友</h1>
        <div class="row">
          <% @users.each do |user| %>
            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 my-3">
              <%= render partial:"shared/user_card" , locals: {user: user} %>
            </div>
          <%end%>
        </div>
        <%= paginate @users %>
      </div>
    </main>
  </div>
</div>
