<div class="user-head mb-2" >
  <div class="row">
    <div class="col text-center">
      <%= link_to user_path(user), remote: true do%>
        <%= gravatar_for(user, "img-thumbnail rounded-circle thumb64")  %><br>
      <% end %>
      <span><%= link_to user.name, user_path(user), remote: true %></span>
    </div>
  </div>
</div>



