<div class="user-head mb-2" >
  <div class="row">
    <div class="col text-center">
      <%= image_tag user.avatar_url, class: "img-thumbnail rounded-circle w-100" if user.avatar_url %>
      <span><%= link_to user.name, user_path(user) %></span>
    </div>
  </div>
</div>


