<div class="card user-card mb-2" >
  <div class="row">
    <div class="col-5 pr-0">
      <div class="card-body h-100 card-img-left p-1 d-flex align-items-end" style="background-image: url(<%= gravatar_url(user) %>);" >
        <span class="badge badge-light">L<%= user.level %></span>
      </div>
    </div>
    <div class="col-7 pl-0">
      <div class="card-body p-2">
        <h5 class="card-title"><%= link_to user.name, user_path(user), remote: true %></h5>
        <p class="card-text">
          資訊 1 <br>
          資訊 2 <br>
          資訊 3
        </p>
      </div>
    </div>
  </div>
</div>
