<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>邀請函列表</h3>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>發出的邀請函</h3>
          <div class="row mb-4">
            <% if @sent_invitations.present? %>
              <div class="col-12 my-3">
                <%= render partial:'sent_list' %>
              </div>
            <% else %>
              <div class="col-12 my-3">
                <p>無</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <h3>收到的邀請函</h3>
          <div class="row">
            <% if @received_invitations.present? %>
              <div class="col-12 my-3">
                <%= render partial:'received_list' %>
              </div>
            <% else %>
              <div class="col-12 my-3">
                <p>無</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('#sent_list').DataTable({
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
      "order": [[ 4, "desc" ]],
      "columnDefs": [
        { "orderable": false, "targets": [3] }
        ]
    });
    $('#received_list').DataTable({
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
      "order": [[ 4, "desc" ]],
      "columnDefs": [
        { "orderable": false, "targets": [3] }
        ]
    });
  });
</script>
