<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 py-3 px-4">
      <%= render 'layouts/notice' %>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>發出的邀請函</h3>
            <div class="row mb-4">
              <% if @sent_invitations.present? %>
                <div class="col-12 my-3">
                  <%= render partial:'sent_list' %>
                </div>
              <% else %>
                <div class="col-12 my-3">
                  <p>無</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-12">
              <h3>收到的邀請函</h3>
              <div class="row">
                <% if @received_invitations.present? %>
                  <div class="col-12 my-3">
                    <%= render partial:'received_list' %>
                  </div>
                <% else %>
                  <div class="col-12 my-3">
                    <p>無</p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="invitation_model" tabindex="-1" role="dialog" aria-labelledby="ShowMissionModal" aria-hidden="true"></div>
    </main>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#sent_list').DataTable({
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
      "order": [[ 4, "desc" ]],
      "columnDefs": [
        { "orderable": false, "targets": [3] }
        ]
    });
    $('#received_list').DataTable({
      "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
      "order": [[ 4, "desc" ]],
      "columnDefs": [
        { "orderable": false, "targets": [3] }
        ]
    });
  });
</script>
