<aside class="aside-container">
  <%= render partial: "layouts/admin_sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3><%= title '副本列表' %></h3>
      </div>
      <div class="row">
        <div class="col">
          <%= render partial: "instance_list" %>
        </div>
      </div>
    </div>
  </div>
</section>
