.small {
  max-width: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.user-card {
  font-size: 0.9rem;
}

.card-img-left{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem 0 0 0.25rem;
}

.dataTables_wrapper{
  padding: 0;
}

.nav-item.active{
  background-color: #e8e8e8;
}
