.small {
  max-width: 100px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.dataTables_wrapper{
  padding: 0;
}

.uk-notify {
  z-index: 1060;
}

.unread-notification{
  background-color: #131e27;
}

.notification-avatar{
  height: 30px;
  width: 30px;
}

.dropdown-list > #notification-manu.dropdown-menu {
  min-width: 340px;
}

.media-body{
  color:#6c757d;
}
.unread-notification p.notification-item-content{
  font-weight: bold;
}
.unread-notification p.notification-item-title{
  color: $warning;
}

a[data-behavior='notification-item']{
  text-decoration: none;
}

#error_explanation > h2 {
  font-size:13px;
}

.field_with_errors{
    width: 83%;
}


/* rating */
 .review_rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 10em;
}

.review_rating input {
    position: absolute;
    left: -999999px;
}

.review_rating label {
    display: inline-block;
    font-size: 0;
}

.review_rating  label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review_rating  label:hover:before,
.review_rating  label:hover ~ label:before,
.review_rating  label.selected:before,
.review_rating  label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gold{
  color: #f0ad4e;
}

/* _user_rating.html.erb */

.inner {
  padding: 1em;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.rating {
  width: 45%;
  text-align: center;
}

.rating-num {
  font-size: 72px;
  font-weight: 100;
  line-height: 1em;
}

.rating-stars {
  font-size: 20px;
  color: #E3E3E3;
  margin-bottom: .5em;
}
.rating-stars .active {
  color: #737373;
}

.rating-users {
  font-size: 14px;
}

.histo {
  float: left;
  width: 50%;
  font-size: 13px;
}

.histo-star {
  float: left;
  padding: 3px;

}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
}

.rating-bar-block {
  word-wrap: normal;
  margin-left: 5px;
  color: #848484;
  display: block;
  float: left;
  width: 75%;
  position: relative;
}

.rating-bar {
  padding: 4px;
  display: block;
}

#rating-bar-five {
  width: 0;
  background-color: #9FC05A;
}

#rating-bar-four {
  width: 0;
  background-color: #ADD633;
}

#rating-bar-three {
  width: 0;
  background-color: #FFD834;
}

#rating-bar-two {
  width: 0;
  background-color: #FFB234;
}

#rating-bar-one {
  width: 0;
  background-color: #FF8B5A;
}


.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
  .ribbon {
    font: bold 12px sans-serif;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 5px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    color: #fff;
  }
}
