<!-- 確認user可以挑戰任務 -->
<%if current_user.take_mission?(mission)%>
  <% if mission.participant_number < 2  %>
    <%= link_to "挑戰任務", challenge_mission_path(mission), method: :post, class: "btn btn-success"%>
  <% else %>
    <%= link_to "開始組隊", challenge_mission_path(mission), method: :post, class: "btn btn-success"%>
  <% end %>
<%else%>
  <div class="btn btn-secondary disabled" >無法挑戰</div>
<%end%>
