<aside class="aside-container">
  <%= render partial: "layouts/sidebar" %>
</aside>
<section>
  <div class="section-container">
    <div class="content-wrapper">
      <div class="content-heading">
        <h3>Dashboard</h3>
      </div>
      <div class="container">
        <div class="row">
          Dashboard
        </div>
      </div>
    </div>
  </div>
</section>
