<div class="row mb-4">
  <div class="col-md-6">
    <%= render partial: "member_list", locals:{members: @members} %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h3>你的答案</h3>
  </div>
  <div class="col-12">
    <%= @instance.answer %>
  </div>
</div>

<%= render partial:'msgs_board' %>
