<div class="card card-default">
  <div class="card-body bb">
    <div class="row">
      <div class="col-12">
        <%= render partial: "member_list", locals:{members: @members} %>
      </div>
    </div>
  </div>
  <div class="card-body bb">
    <div class="row mb-4">
      <div class="col-12 my-3">
        <h4>任務進度</h4>
      </div>
      <div class="col-12">
        <div class="instance_ans">
        <% if @answer == '' %>
          <%=render partial:'ans_form', locals: {instance: @instance} %>
        <% else %>
          <%= render partial: 'ans_panel', locals: {instance: @instance} %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body bb">
    <%= render partial:'instance_msg_board' %>
  </div>
</div>
