<div class="row mb-4">
  <div class="col-md-6">
    <%= render partial: "member_list", locals:{members: @members} %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h3>任務進度</h3>
  </div>
  <div class="col-12">
    <div class="instance_ans">
    <% if @answer == '' %>
      <%=render partial:'ans_form', locals: {instance: @instance} %>
    <% else %>
      <%= render partial: 'ans_panel', locals: {instance: @instance} %>
    <% end %>
    </div>

  
  </div>

</div>

<%= render partial:'msgs_board' %>
