

<div class="public-bg">
  <div class="text-center public-logo">
  <div class="mb-2"><%= image_tag('logo-square_1.png') %></div> 
  <a href="/story"><div class="btn btn-inverse ">關於暗碼局</div></a>
  <a href="https://github.com/max-red-egg/ac_warcraft"><div class="btn btn-inverse "><i class="fa fa-github mr-2"></i> Github </div></a>
</div></div>
