<div class="modal fade" id="mission_model" tabindex="-1" role="dialog" aria-labelledby="ShowMissionModal" aria-hidden="true"></div>
<div class="modal fade" id="invitation_model" tabindex="-1" role="dialog" aria-labelledby="ShowInvitaionModal" aria-hidden="true"></div>
<div class="modal fade" id="user_model" tabindex="-1" role="dialog" aria-labelledby="ShowUserModal" aria-hidden="true"></div>
